

html, body{
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  }

.container{
  top: 0px;
  min-width: 100%;
  background-color: white;
}

.navbar-collapse {
  justify-content: center;
}

a {
  text-decoration: none;
}

/*
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgb(212, 212, 212);
  height: auto;
  margin-top: 40px;
  margin-bottom: 0;
  text-decoration: none;
}
*/

.footer p, .footer a {
 color: #fff;
}

h1{
  font-family: var(--bs-body-font-family);
  font-size: 24pt;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

p{
  margin: 5px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14pt;
}



